div {
    display: flex;
    flex-direction: column;
    width: 400px
}

.question {
    background: lightskyblue;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 10px;
}

.container {
    margin: auto;
}

.add-q {
    width: inherit;
}

h2 {
    text-align: center;
}

.form-control {
    width: 380px;
}

p {
    margin: 0;
}