<!-- Student Interface -->
<div *ngIf="isStudent">
  <h2>Welcome {{ student.name }}</h2>
   
    <div *ngFor="let a of answerKeys" class="answer">
      <p> {{a}} </p>
      <span><b>You </b>answered:</span>
      <div>
        {{ student.answers[a].answer }}
      </div>
      <span><b>Score: </b>{{student.answers[a].score}}</span>
      <app-rating [disabled]="true" [rating]="student.answers[a].score" [realName]="realName" [name]='realName + student.answers[a].answer'></app-rating>


    </div>
  </div>







<!-- Teacher Interface -->
<div *ngIf="!isStudent">

  <h2>Teacher</h2>
  <div *ngFor="let s of answerKeys">
    <h3>{{s.name}}</h3>
    <div *ngFor="let a of getKeys(s.answers)" class="answer">
      <div *ngIf="a != 'student'">
      <p> {{a}} </p>
      <span><b>Answer:</b></span>
      <div>
        {{ s.answers[a].answer }}
      </div> 
    
      <app-rating [email]="s.email" [question]="a" [rating]="s.answers[a].score" [realName]="s.name" [name]='a + s.name' (ratingClick)='ratingComponentClick($event)'></app-rating>
    </div>
  </div>
  </div>

</div>