<!-- Student Interface -->
<div *ngIf="isStudent">
  <h2>Welcome {{ student.name }}</h2>
   
    <div *ngFor="let a of answerKeys" class="answer">
      <p> {{a}} </p>
      <span><b>You </b>answered:</span>
      <div>
        {{ student.answers[a].answer }}
      </div>
      <span><b>Score: </b>{{student.answers[a].score}}</span>
      <app-rating [disabled]="true" [rating]="student.answers[a].score" [realName]="realName" [name]='realName + student.answers[a].answer'></app-rating>


    </div>
  </div>







<!-- Teacher Interface -->
<div *ngIf="!isStudent">
    <h2>Teacher</h2>
<data-table [studentsObjs]='answerKeys'></data-table>
  
  

</div>